*.d
*.o
*.a
Linux-amd64
kmer/Linux-amd64
kmer/Make.compilers
kmer/libkmer/existDB
kmer/libkmer/kmer-mask
kmer/libkmer/percentCovered
kmer/libkmer/positionDB
kmer/libseq/test-merStream
kmer/libseq/test-seqCache
kmer/libseq/test-seqStream
kmer/libutil/mt19937ar/diffs
kmer/libutil/mt19937ar/mt19937ar-test
kmer/libutil/mt19937ar/test.c
kmer/meryl/asmMerQC
kmer/meryl/compare-counts
kmer/meryl/mapMers
kmer/meryl/mapMers-depth
kmer/meryl/maskMers
kmer/meryl/mervin
kmer/meryl/meryl
kmer/meryl/simple
kmer/meryl/testPositionBias
samtools-0.1.19/bcftools/bcftools
samtools-0.1.19/misc/ace2sam
samtools-0.1.19/misc/bamcheck
samtools-0.1.19/misc/maq2sam-long
samtools-0.1.19/misc/maq2sam-short
samtools-0.1.19/misc/md5fa
samtools-0.1.19/misc/md5sum-lite
samtools-0.1.19/misc/wgsim
samtools-0.1.19/samtools
